body {
  font-family: Arial, sans-serif;
  letter-spacing: -0.05em;
  background: #dfe5e1;
  color: #1d1621;
}

a {
  color: #42343c;
  font-weight: bold;
}

a:visited {
  color: #42342c;
  font-weight: normal;
}

#wrapper {
  width: 50em;
  margin: 2em auto 0;
  padding: 0;
  background: #fff;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
}

#header {
  text-transform: lowercase;
  text-align: left;
  background: #294359;
  -moz-border-radius-topleft: 1em;
  -webkit-border-top-left-radius: 1em;
  -moz-border-radius-topright: 1em;
  -webkit-border-top-right-radius: 1em;  
  border-top-left-radius: 1em;  
  border-top-right-radius: 1em;  
  padding: 1.5em;
  text-align: center;
}

#header h1 {
  font-size: 4em;
  display: inline;
  letter-spacing: -0.08em;
  color: #fff;
  font-weight: normal;
}

#header h2 {
  display: inline;
  margin-left: 0.5em;
  font-size: 2em;
  font-weight: normal;
  color: #b2b29b;
}

#menu {
  background: #42342c;
}

#menu ul {
  list-style: none;
  margin: 0;
  text-align: center;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  color: white;
  font-size: 1.3em;
  padding: 0 0.5em;
  line-height: 2.5em;  
  font-weight: normal;
}

#content {
  padding: 2em;
}

#content h2 {
  margin: 0 0 0.5em 0;
  color: black;
  font-size: 1.5em;
}

#content p {
  line-height: 140%;
  letter-spacing: -0.03em;
}

span.date {
  background: #737f76;
  display: block;
  padding: 0.4em 0.6em 0.3em;
  font-weight: bold;
  color: white;
  border-bottom: 3px solid #5c665f;
  float: left;
}

div.post {
  margin-bottom: 2em;
}

.post h1 {
  margin-top: 0.2em;
}

.post h1 a {
  text-decoration: none;
  clear: left;
  display: block;
  color: black;
  padding: 0.3em 0;
  margin: 0 0 0.2em 0;
  border-bottom: 1px dashed #5c665f;
  font-weight: bold;
}

pre {
  background: #f8f8f8;
  border: 1px solid #E7E5DC;
  border-width: 1px 0 4px 6px;
  padding: 1em;
  overflow: auto;
  color: black;
  line-height: 120%;
  font-family: "Consolas","Courier New",Courier,monospace;
  letter-spacing: 0;
}

table.post-list {
  width: 100%;
  border-collapse: collapse;
}

table.post-list a {
  font-weight: bold;
}

table.post-list th {
  text-align: left;
}

table.post-list td, table.post-list th {
  padding: 0.5em 0.3em;
  border-bottom: 1px solid #737f76;
}

table.post-list tr:last-child td, table.post-list tr:last-child th {
  border-bottom: 0;
}

div.related {
  margin-bottom: 2em;
}

#footer {
  margin-bottom: 2em;
  color: #737f76;
  font-size: 0.9em;
  padding: 0.5em;
  text-align: center;
}

.home_box {
  float: left;
}

#content .home_box h2 {
  background: #737f76;
  padding: 0.3em 0.5em;
  border-bottom: 3px solid #5c665f;
  margin-bottom: 0em;
  color: white;
}

.home_box h2 a {
  color: white;
  margin: 0 0.2em;
}

#home_left {
  width: 29em;
}

#home_right {
  width: 16em;
  margin-left: 1em;
}

.clearfix { clear: both;}

#footer a {
  font-weight: normal;
}

code {
  background: #dfe5e1;
  font-family: "Consolas","Courier New",Courier,monospace;
}

pre code {
  background: #f8f8f8;
}

.home_box .post h1 a {
  font-size: 0.7em;
}

.repo {
  background: #dfe5e1;
  border: 3px solid #294359;
  padding: 0.7em 1em;
  font-size: 0.8em;
  letter-spacing: -0.03em;
  margin: 1em 1em 0 0;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}
.repo h3 {
  margin: 0 0 0.3em 0;
}
.repo h3 a {
  font-weight: bold;
  color: black;
  letter-spacing: 0;
  font-size: 1.1em;
}

#github-projects.big .repo {
  float: left;
  width: 25.2em;
  margin: 1.2em 1em 0 0;
  display: inline-block;
  float: none;
  vertical-align: top;
}

#twitter_div {
  padding: 1em;
}

#twitter_div ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 1em 0;
}

#twitter_div ul li {
  margin-bottom: 0.5em;
}
  

.float-left { float: left; }
.float-right { float: right; }

a img { border: 0; }